#liste{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 95% 5%;
 
}

.bilgi{
    background-color: greenyellow;
    
}

.Xisareti{
    color:white;
    font-weight: bold;
    background-color: red;
    text-align: center;
}